on boot
    mkdir /mnt/vendor/nvcfg 0771 system system
    mount ext4 /dev/block/by-name/nvcfg /mnt/vendor/nvcfg rw wait
    chown system system /mnt/vendor/nvcfg
    chmod 0771 /mnt/vendor/nvcfg

    mkdir /mnt/vendor/nvdata 0771 root system
    mount ext4 /dev/block/by-name/nvdata /mnt/vendor/nvdata rw wait
    chown root system /mnt/vendor/nvdata
    chmod 0771 /mnt/vendor/nvdata

    mkdir /mnt/vendor/protect_f 0771 root root
    mount ext4 /dev/block/by-name/protect1 /mnt/vendor/protect_f rw wait
    mkdir /mnt/vendor/protect_f/tee 0771 root root

    mkdir /mnt/vendor/protect_s 0771 root root
    mount ext4 /dev/block/by-name/protect2 /mnt/vendor/protect_s rw wait

    start hwservicemanager
    start servicemanager
    start teed
    start vendor.keymint-trustkernel
    start vendor.gatekeeper-1-0

service hwservicemanager /system/bin/hwservicemanager
    class core
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service servicemanager /system/bin/servicemanager
    class core
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service teed /vendor/bin/teed \
    --tzdev /dev/tkcore_admin \
    --datapath /data/vendor/t6/fs \
    --sptapath /data/vendor/t6/app \
    --systapath /vendor/app/t6 \
    --rpmbdev /dev/mmcblk0rpmb \
    --rpmbdev /dev/rpmb0 \
    --prot /mnt/vendor/protect_f/tee \
    --prebuilt /vendor/app/t6/data \
    --logpath /data/vendor/t6/tkcore.log \
    --proprefix vendor.trustkernel
    class main
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymint-trustkernel /vendor/bin/hw/android.hardware.security.keymint-service.trustkernel
    class main
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    class main
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
